{% extends 'base.html.twig' %}
{% block body %}
    <div id="app">
        <div class="ml-3">
            <h3>My Symfony 5 sample project</h3>
            <post></post>
        </div>
    </div>
{% endblock %}