{% extends 'base.html.twig' %}
{% block body %}
    <div id="app" class="text-center">
        <h3>My Symfony 5 sample project</h3>
        <div class="jumbotron text-center">
            <example></example>
        </div>
    </div>
{% endblock %}